@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.QuestionsLog
@{
	ViewData["title"] = "Vizitų laikai";
	TempData["id"] = Model.doctor.Id;
	TempData["id1"] = Model.doctor.Id;
	TempData["name"] = Model.doctor.Name;
	//TempData["currency"] = Model.user.Currency;
}
@*@if(Model.user.Id==0){
<body onload=' window.location="http://localhost:5000" ; '></body>
}*@
<link rel="stylesheet" href="~/css/bootswatchTheme.css" />

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
	<pantrast class="title">@ViewData["title"]</pantrast>
	@*<input type="text" placeholder="Search.." id="search">
	<input type="submit" value="Search" formaction="Search" fommethod="post"/>
	@*<button type="submit" formaction="@Url.Action("Create")">Submit</button>
	<input type="submit" value="Search" formaction="Content" fommethod="post" >*@
	<form href="@Url.Action("Search", "Question")">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"  ><img src="/images/magnifier.png" alt="search" width="20" height="auto"></button>
	  @*<input type="image" src="/images/magnifier.png" width="30" height="auto"  alt="search">*@
    </form>
	@*<div class="container-fluid d-flex d-row justify-content-end">
		<button name="Search" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Save</button>
	</div>*@
	
