<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="text-info">
  <h1><center>Sveiki atvykę į pacientų registracinę sistemą.</center></h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3> </h3>
      <p> </p>
      <p> </p>
    </div>
    <div class="col-sm-4">
      <h3> </h3>
      <p>Ši svetainė yra skirta pacientams, norintiems lengvai ir patogiai užsiregistruoti pas gydytojus internetu. Čia galite pasirinkti norimą specialistą, laiką ir vietą, o patvirtinimo pranešimą gausite elektroniniu paštu. Tai patogus ir greitas būdas užsiregistruoti pas gydytoją be papildomų sunkumų. </p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h3> </h3>        
      <p> </p>
      <p> </p>
    </div>
  </div>
</div>

</body>
</html>
