<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="text-info">
  <h1><center>Welcome to the user appointment system!</center></h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Registration</h3>
      <p>To use our full-fledged system, you must first register. </p>
      <p>In order to confirm your registration, you will receive a special code in your e-mail.</p>
    </div>
    <div class="col-sm-4">
      <h3>Login</h3>
      <p>When the registration is completed successfully, you become a user of our system.</p>
      <p>After clicking on login and entering the required data, you will be redirected to the main page.</p>
    </div>
  </div>
</div>

</body>
</html>