<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="text-info">
  <h1><center>Sveiki atvykę į vartotojo registracinę sistemą.</center></h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Registracija</h3>
      <p>Norėdami naudotis pilnaverte mūsų sistema visų pirma turite prisiregistruoti. </p>
      <p>Kad galėtumėte patvirtinti savo registraciją gausite specialų kodą į Jūsų el.paštą</p>
    </div>
    <div class="col-sm-4">
      <h3>Prisijungimas</h3>
      <p>Kuomet registracija atliekama sėkmingai jūs tampate mūsų sistemos vartotoju.</p>
      <p>Paspaudę prisijungti ir suvedę reikiamus duomenis jūs būsite nukreipti į pagrindinį puslapį</p>
    </div>
  </div>
</div>

</body>
</html>